$body-bg          = #f9f9f9
$text-color       = #55534C
$link-color       = #4374B9
$link-hover-color = $link-color

// Turn off lg-desktop
$container-lg-desktop = $container-desktop

@import 'variables'
@import 'mixins'
@import 'normalize'
@import 'scaffolding'
@import 'grid'
@import 'type'

@import 'components/icomoon'
@import 'components/pulse'


// Typekit
.wf-loading
  visibility: hidden
.wf-active, .wf-inactive
  visibility: visible


.tk-museo-slab
  color: #423501
  text-shadow: 0 1px 1px rgba(0,0,0,.15)

header
  margin: 50px 0 42px


.intro
  p
    line-height: 1.6
  a
    font-weight: bold

  .icon-heart
    $anim = heartBeat 1s linear

    display: inline-block
    font-size: 125%
    color: #EF4136
    rotate(15deg)
    -webkit-animation: $anim 1s 3
    animation: $anim 1s 3
    &:hover
      -webkit-animation: $anim .2s 1
      animation: $anim .2s 1


.social
  margin-top: 50px

  li
    display: inline-block
  a
    display: block
    text-decoration: none
    &:hover
      -webkit-animation: pulse .3s
      animation: pulse .3s
  .icon
    font-size: 48px
    margin-right: 20px
  .text
    position: absolute
    left: -999em



@media $media-max-phone
  header h1
    font-size: 30px


@media $media-min-tablet
  header h1
    font-size: 48px
  p
    font-size: 18px


@media $media-min-desktop
  header h1
    font-size: 60px
