doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(
      name='viewport'
      content='width=device-width, initial-scale=1.0, maximum-scale=1.0'
    )
    title Hello! I’m Marvin.
    link(rel='stylesheet', href='/dist/css/home.css', media='screen')
    include components/typekit

  body.container
    .row
      .col-xs-12.col-sm-8.col-md-7.col-sm-offset-2
        header
          h1.tk-museo-slab Hello! I’m Marvin.

        section.intro
          :markdown
            I craft awesome web products in the amazing New York City.
            <span class="icon icon-heart" title="I ❤ NY"></span>

            For the past 10+ years, I’ve been building functional, beautiful and
            performant web apps in various capacities as an individual
            contributor or a technical leader. At the moment, I work with a
            fantastic crew at Frame.io. [Come join us!](https://careers.frame.io/)

            In life and work, I try to leave things in better shape than when
            I’ve found them. Most importantly, I enjoy and cherish working with
            great people!

        section.social
          p You can find me on:
          ul.list-unstyled
            li
              a(href='https://www.linkedin.com/in/marvintam', title='LinkedIn')
                span.icon.icon-linkedin
                =' '
                span.text LinkedIn
            li
              a(href='https://github.com/thatmarvin', title='GitHub')
                span.icon.icon-github
                =' '
                span.text GitHub
            li
              a(href='https://twitter.com/thatmarvin', title='Twitter')
                span.icon.icon-twitter
                =' '
                span.text Twitter
            li
              a(href='https://instagram.com/thatmarvin', title='Instagram')
                span.icon.icon-instagram
                =' '
                span.text Instagram
            li
              a(href='mailto:marvin.tam@gmail.com', title='Email')
                span.icon.icon-envelope
                =' '
                span.text Email

    include components/ga
