<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marvin Tam</title>
	<link rel="stylesheet" href="/css/home.css" type="text/css" media="screen">
	<link rel="alternate" type="application/rss+xml" title="@thatmarvin's blog" href="/feed">
	<script src="http://use.typekit.com/mbn8iai.js"></script>
	<script >try{Typekit.load();}catch(e){}</script>
</head>

<body id="home">
<!--[if lte IE 7]>
<div id="nagbar">
<div class="cls">
    <h2>Don’t hold back the web!</h2>
    <p>This page probably looks broken because your browser is <em>really</em> old. May I suggest that you please upgrade to a modern browser? Spare a few minutes to upgrade (for free!), and I promise a much safer and enjoyable browsing experience.</p>
    <ul class="cls">
        <li class="firefox"><a title="Mozilla Firefox" href="http://www.mozilla.com/firefox/">Mozilla Firefox</a></li>
        <li class="chrome"><a title="Google Chrome" href="http://www.google.com/chrome">Google Chrome</a></li>
        <li class="safari"><a title="Safari" href="http://www.apple.com/safari/">Safari</a></li>
        <li class="opera"><a title="Opera" href="http://www.opera.com/">Opera</a></li>
    </ul>
</div>
</div>
<![endif]-->
<div id="wrapper">
	<header class="bottom-border">
		<h1 class="logo">Hi! I’m @thatmarvin.</h1>
		<p>I make web stuff and I like awesomeness</p>
	</header>
	
	<ul id="links" class="bottom-border">
		<li class=""><a href="/about">About</a></li>
		
		<li><a href="http://twitter.com/thatmarvin">Twitter</a></li>
		<li><a href="http://thatmarvin.tumblr.com">Tumblr</a></li>
		<li><a href="https://github.com/thatmarvin">GitHub</a></li>
		<!-- <li><a href="http://www.flickr.com/photos/missingphotons/">Flickr</a></li> -->
		<li><a href="http://www.linkedin.com/in/marvintam">LinkedIn</a></li>
		<li><a href="http://www.facebook.com/marvintam">Facebook</a></li>
		<li><a href="mailto:marvintam@gmail.com">Email</a></li>

	</ul>
</div>

<script type="text/javascript">
  // var _gaq = _gaq || [];
  // _gaq.push(['_setAccount', 'UA-449854-2']);
  // _gaq.push(['_trackPageview']);

  // (function() {
  //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  //   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  // })();
</script>
</body>
</html>
