<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello! I’m Marvin.</title>
	<link rel="stylesheet" href="/css/common.css" media="screen">
	<link rel="stylesheet" href="/css/home.css" media="screen">
	<link rel="alternate" type="application/rss+xml" title="@thatmarvin's blog" href="/feed">
	<script src="http://use.typekit.com/mbn8iai.js"></script>
	<script >try{Typekit.load();}catch(e){}</script>
</head>

<body id="home">
<!--[if lte IE 7]>
<div id="nagbar" class="clr">
	<div class="text">
		<h2>Your browser is <em>really</em> old!</h2>
    	<p>Please spare a few minutes to upgrade (it’s free!) for a better <em>and</em> safer browsing experience <span class="arrow">&rarr;</span></p>
	</div>
    <ul class="browsers">
    	<li class="chrome"><a title="Google Chrome" href="http://www.google.com/chrome">Google Chrome</a></li>
        <li class="firefox"><a title="Mozilla Firefox" href="http://www.mozilla.com/firefox/">Mozilla Firefox</a></li>
        <li class="safari"><a title="Safari" href="http://www.apple.com/safari/">Safari</a></li>
        <li class="opera"><a title="Opera" href="http://www.opera.com/">Opera</a></li>
    </ul>
</div>
<![endif]-->
<header>
	<h1 class="logo tk-museo-slab">Hello! I’m Marvin.</h1>
	<p class="tk-museo-slab">I craft awesome web sites in New York City.</p>
</header>
<div id="moodband"></div>
<div id="content">
	<section id="sites" class="bottom-border">
		<h2 class="tk-museo-slab">Find me on:</h2>
		<ul class="clr">
			<li><a class="tumblr" href="http://thatmarvin.tumblr.com">Tumblr</a></li>
			<li><a class="twitter" href="http://twitter.com/thatmarvin">Twitter</a></li>
			<li><a class="github" href="https://github.com/thatmarvin">GitHub</a></li>
			<li><a class="linkedin" href="http://www.linkedin.com/in/marvintam">LinkedIn</a></li>
			<!-- <li><a class="flickr" href="http://www.flickr.com/photos/missingphotons/">Flickr</a></li> -->
			<li><a class="facebook" href="http://www.facebook.com/marvintam">Facebook</a></li>
		</ul>
	</section>

	<section id="work">
		<h2 class="tk-museo-slab">I’ve worked at:</h2>
		<ol>
			<li class="yahoo">
				<a href="http://www.yahoo.com/"><img src="/images/yahoo.png" width="101" height="25" alt="Yahoo!"></a>
			</li>
			<li class="nyt">
				<a href="http://www.nytimes.com/"><img src="/images/nyt.png" width="190" height="32" alt="The New York Times"></a>
			</li>
			<li class="jetsetter">
				<a href="http://www.jetsetter.com/">
					<img src="/images/jetsetter.png" width="129" height="16" alt="Jetsetter">
				</a>
			</li>
		</ol>
	</section>
</div>
<footer class="top-border clr">
	<a class="email" href="mailto:marvintam+site@gmail.com">Get in touch</a></li>
	<cite class="copyright">© 2005–2011 Marvin Tam</cite>
</footer>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-449854-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
</body>
</html>
