body {
	background: #222 url(images/tactile_noise.png);
	font-family: "Helvetica Nueu", Helvetica, Arial, sans-serif;
	color: #ccc;
	margin: 0;
}
ul {
	list-style-type: none;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
}

header {
	padding: 50px 0;
	text-align: center;
}
header h1 {
	font-family: "museo-slab-1", "museo-slab-2", sans-serif;
	font-size: 48px;
	font-weight: 500;
	color: #aaa;
	text-shadow: 0 1px 0 #ccc, -1px -1px 0 #000;
	margin: 0 0 15px;
}
header p {
	width: 500px;
	margin: 0 auto;
	font-size: 16px;
}


#links {
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
}
#links li {
	display: inline-block;
}
#links a {
	display: inline-block;
	margin: 10px 20px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgba(0,0,0,.5);
}


footer {
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
}


.top-border {
	border-top: 1px solid #333;
	box-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.bottom-border {
	border-bottom: 1px solid #333;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);	
}
