// "Pulse" animation from http://daneden.github.io/animate.css/
@keyframes pulse
  0%
    scale(1)

  50%
    scale(1.1)

  100%
    scale(1)


// This is +15deg rotation for the heart
transform(ratio)
  -webkit-transform: s('rotate(%s)', 15deg) s('scale(%s)', ratio)
  transform: s('rotate(%s)', 15deg) s('scale(%s)', ratio)

@keyframes heartBeat
  0%
    transform(1)

  10%
    transform(1.3)

  30%
    transform(1)
